.thumbnail {
    border: none;
}

.thumbnail-product {
    img {
        height: 132px;
    }
    a {
        font-weight: bold;
    }
    p {
        height: 60px;
        line-height: 16px;
        overflow: hidden;
    }
}