header {
    .logo-line {
        padding-top: 20px;
        padding-bottom: 20px;

        img, .logo-name {
            float: left;
        }
        .logo-name {
            padding: 15px 0 0 50px;
            font-weight: bold;
            font-size: 22px;
            a {
                color: #003366;
            }
            
            .address {
                font-size: 13px;
                font-weight: bold;
            }
        }
        .logo-phone {
            padding: 15px 0 0 50px;
            float: right;
            font-weight: bold;
            font-size: 22px;
            
            a {
                display: block;
                font-size: 14px;
                text-align: right;
            }
        }
    }

    .navbar {
        border-radius: 0;
        border-left: none;
        border-right: none;
        margin-bottom: 0;

        .navbar-collapse {
            padding: 0;
        }
    }
}

.catalog-menu {
    ul {
        padding-left: 00px;
        list-style: none;
        ul {
            list-style: square;
            padding-left: 30px;
            padding-bottom: 5px;
        }

        li {
            position: relative;
        }

        a {
            display: block;
            padding: 5px 8px;
            margin: 0 0 0 -5px;
            background-color: #fff;

            transition-property: background;
            transition-duration: 0.3s;

            &:hover {
                background-color: #eee;
                text-decoration: none;

                &:after {
                    border-color: transparent transparent transparent #eee;
                }
            }
        }

        li.active {
            > a {
                background-color: #e6e9f0;
            }
        }
    }
}

.service-map {
    position: relative;

    #YMapsID {
        width: 100%;
        min-height: 300px;
        
        .map_shop_adress {
            max-width: 250px;
        }
    }

    .dealers {
        position: absolute;
        right: 10px;
        top: 10px;
        bottom: 15px;
        z-index: 10;
        overflow: scroll;

        ul, ol {
            padding: 0;
            margin: 0;
        }

        ul {

            background-color: #fff;
            background-color: rgba(255, 255, 255, 0.8);
            list-style: none;
            padding: 10px;
            box-sizing: border-box;

            li {
                padding: 2px 0;
                margin-left: 10px;

                span {
                    font-weight: bold;
                }

                ol {
                    list-style: square;
                    li {
                        margin-left: 25px;
                        a {

                        }

                    }
                }
            }
        }
    }
}

#yii-debug-toolbar {
    position: fixed;
    bottom: 0;
}

.thumbnail {
    border: none;
    margin-bottom: 5px;
}

.thumbnail-catalog {
    img {
        height: 165px;
    }
    a {
        &.catalog-img {
            height: 160px;
        }
        display: inline-block;
        font-weight: bold;
        padding-bottom: 5px;
    }
    p {
        height: 50px;
        line-height: 16px;
        overflow: hidden;
        margin-bottom: 0;
    }
}

.product-links-panel {
    margin-top: 10px;

    ul {
        margin-bottom: 0;
    }
}

.product-properties {
    tr:first-child td {
        border-top: none;
    }
}

.product-details {
    .product-details-item {
        position: relative;
        margin-top: 10px;
        min-height: 100px;
    }

    .product-details-image {
        position: absolute;
        top: 0;
        left: 0;
    }
    .product-details-description {
        padding: 10px 0 10px 115px;
        box-sizing: border-box;
    }
}

.product-description {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.product-thumbnail-main {
    width: 100%;
    max-width: 450px;

    img {
        width: 100%;
    }
}

.product-thumbnail {
    float: left;
    position: relative;
    margin: 0 10px 10px 0;

    a {

        img {
            width: 75px;
            height: 75px;
        }
    }
}

.contact {
    blockquote {
        width: 50%;
    }
}

#index-slider {
    width: 707px;
    margin: 20px auto;

    .carousel-caption {
        //font-size: 2em;
        display: none;
    }
}