header .logo-line {
  padding-top: 20px;
  padding-bottom: 20px;
}
header .logo-line img,
header .logo-line .logo-name {
  float: left;
}
header .logo-line .logo-name {
  padding: 15px 0 0 50px;
  font-weight: bold;
  font-size: 22px;
}
header .logo-line .logo-name .address {
  font-size: 13px;
  font-weight: bold;
}
header .logo-line .logo-phone {
  padding: 15px 0 0 50px;
  float: right;
  font-weight: bold;
  font-size: 22px;
}
header .navbar {
  border-radius: 0;
  border-left: none;
  border-right: none;
}
header .navbar .navbar-collapse {
  padding: 0;
}
.thumbnail {
  border: none;
}
.thumbnail-product img {
  height: 132px;
}
.thumbnail-product a {
  font-weight: bold;
}
.thumbnail-product p {
  height: 60px;
  line-height: 16px;
  overflow: hidden;
}
